pysimplegui==5.0.8.3
scikit-learn==1.4.0
numpy==1.26.0
pandas==2.1.0
psycopg2-binary==2.9.7
evidently==0.7.10
seismometer==0.4.0
pyinstaller==6.1.0
docker==7.1.0
pip-tools==7.0.0
uvloop==0.21.0; sys_platform != "win32"
